.iframe-preview-wrapper {
  background: #FFFFFF;
  position: absolute;
  top: -9999px;
  left: -9999px;
  border: 1px solid #DDDDDD;
  box-shadow: 0 0 10px #777777;
  z-index: 10000;
}
.iframe-preview-wrapper .iframe-preview {
  float: left;
}

.iframe-preview-loading {
  background: white url('../theme/images/iframe-loader.gif') no-repeat 0 0;
  width: 59px;
  height: 59px;
  overflow: hidden;
}

.asset-tooltip {
  cursor: pointer;
}
.asset-tooltip img {
  position: static !important;
}

.show-preview-element {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: url('../theme/images/preview-icon.png') no-repeat 0 0;
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
