html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Arial,Helvetica,"Bitstream Vera Sans","FreeSans","Garuda",sans-serif;
  font-size: 12px;
}

div {
  display: block;
}

ul,li,h1,h4 {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 120%;
  color: #404040;
  padding:0px;
  margin:0px;
}

h4 {
  font-size: 0.9em;
  padding-right: 9px;
  color: #999;
}

#ds_page {
  background: #2C2C2C;
  padding-top: 32px;
}

#ds_page_inner {
  padding: 0px 0px 94px 0px;
  padding-top: 0;
  background: white;
  position: relative;
}

.ds_header_menu ul.menu li.homepage {
  padding-right: 13px;
}

.ds_header_menu ul.menu li.homepage:hover {
  background-color: #E9E9E9;
}

.ds_login {
  background-image: url(../images/bg-toolbar-main.png);
  background-repeat: repeat-x;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  padding: 5px 10px 5px 15px;
}

.ds_comment_desc a {
  color: #000;
  text-decoration: underline;
}

.ds_comment_desc a:hover {
  text-decoration: none;
}

.ds_header_bottom {
  background: #e9e9e9;
  line-height: 120%;
  color: #404040;
  height: 32px;
  position: relative;
}

#ds_footer {
  width: 970px;
  margin: 0 auto;
  padding: 0 0 32px 0;
}

#ds_footer_top{
  background: url(../images/bg-footer-bottom.png) repeat;
  background-position: bottom center;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 5px;
}

.ds_footer_cells {
  float: left;
  width:23%;
  padding: 10px 0 9px 00px;
  margin-left: 16px;
}

#ds_footer h3 {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 120%;
  color: white;
  letter-spacing: -1px;
  padding-bottom: 7px;
}

#ds_footer_top ul li {
  float: left;
  padding-left: 6px;
  padding-right: 4px;
  background-image: url(../images/separator2.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

#ds_footer_top ul li a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
}

#ds_footer_top ul li a:hover {
  text-decoration: underline;
}

#ds_footer_top ul {
  border-bottom: 1px dotted #fff;
  border-top: 1px dotted #fff;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

#ds_footer_bottom ul li {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url(../images/separator.gif);
  background-repeat: no-repeat;
  background-position: 100%;
}

#ds_footer_bottom {
  width: 29%;
  margin: 0 auto;
  padding: 15px 0 10px 0;
}

#ds_footer_bottom ul li a {
  text-align: center;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

#ds_footer_bottom ul li a:hover {
  text-decoration: underline;
}

.ds_header_menu {
  margin: 0 auto;
  width: 970px;
  height: 32px;
  z-index: 20;
  overflow: hidden;
}

.ds_header_menu ul.menu li {
  float: left;
  padding: 10px 20px 10px 20px;
  margin-top: 0px;
  background-image: url(../images/separator.gif);
  background-repeat: no-repeat;
  background-position: 100%;
}

.ds_header_menu ul.menu li a {
  color: #404040;
  text-decoration: none;
}

.ds_header_menu ul.menu li:hover {
  background-color: #c0c0c0;
}

.ds_header_top {
  background: #2C2C2C url(../images/bg-header.gif) repeat;
}

.ds_header_logo {
  margin: 0 auto;
  width: 970px;
  height: 85px;
  overflow: hidden;
}

.ds_header_logo img {
  float:left;
  height:80px;
}

.ds_header_logo span {
  font-size: 24px;
  color: #fff;
  display: block;
  padding: 39px;
}

#ds_main_inner {
  margin: 0 auto;
  width: 970px;
  overflow: hidden;
  padding: 40px 0;
}

#ds_main {
  width: 970px;
  margin: 0 auto;
}

#ds_main_left {
  float: left;
  width: 719px;
  overflow: hidden;
  word-wrap: break-word;
}

#ds_main_sidebar {
  float: right;
  width: 251px;
  overflow: visible;
  word-wrap: break-word;
  padding-bottom: 10px;
  margin-bottom: 17px;
}

#ds_main_block {
  position: relative;
  width: 229px;
  height:292px;
  padding: 0 10px 10px 0;
  float: left;
}

.ds_image_box {
  display: block;
  margin: 2px 0 0 2px;
  position: relative;
}

#ds_main_block img {
  height: 280px;
  border: solid 1px #666;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.ds_sidebar_content {
  background-color: #F1F1F1;
  padding: 16px 16px 20px 16px;
  margin-bottom: 16px;
}

#ds_fb_block {
  margin-bottom:10px;
}

#ds_search {
  height: 101px;
  background-image: url(../images/search-block-background.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  clear: both;
}

.ds_description {
  background: url(../images/mask2.png) repeat-x 0 0;
  position: absolute;
  width: 190px;
  height: 118px;
  bottom: 20px;
  left: 20px;
  border-radius: 6px;
}

.ds_description_white {
  background: url(../images/mask3.png) repeat-x 0 0;
  position: absolute;
  width: 190px;
  height: 118px;
  bottom: 20px;
  left: 20px;
  border-radius: 6px;
}

.ds_desc_text {
  position: absolute;
  width: 180px;
  bottom: 20px;
  left: 20px;
  color: #fff;
  padding: 5px;
  font-size:11px;
  font-weight: 700;
}

.icon_login {
  float: left;
}

.ds_login span {
  line-height: 22px;
  color: #fff;
  font-size: 12px;
}

#ds_broad {
  width: 95%;
  float: left;
  padding: 0 24px 5px 0;
  border-bottom: 1px dotted #333;
}

#ds_broad a, #ds_footer_tw .ds_tags a {
  color: #333
}

#ds_broad a:hover , #ds_footer_tw .ds_tags a:hover {
  color: #333;
  text-decoration: underline;
}

#ds_author {
  overflow:hidden;
  margin-top:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #333;
  width: 98%;
}

#ds_author_name {
  width: 45%;
  float: left;
}

#ds_author_name img {
  float: left;
}

#ds_author_name span {
  padding: 5px;
}

#ds_author_social {
  width: 50%;
  float: right;
}

#ds_article {
  overflow: hidden;
  width: 98%;
}

#ds_article_tw {
  width: 100%;
  overflow: hidden;
}

#ds_article_title {
  width: 65%;
  float: left;
  margin: 5px 0px;
}

#ds_article_right {
  width: 208px;
  float: right;
}

#ds_article_left {
  width: 65%;
  float: left;
  color: #404040;
  font-size: 14px;
  line-height: 17px;
}

.ds_tags {
  font-style: normal;
  font-size:10px;
  padding:0 0 10px 0;
}

.ds_tags a {
  color: #2C2C2C;
  padding-left: 3px;
  text-decoration: underline;
}

.ds_tags a:hover {
  text-decoration: none;
}

#ds_author_box {
  padding:0 0 10px 0;
  margin-top:10px;
}

.ds_author_name {
  font-size: 14px;
  font-weight: 700;
  margin-top:10px
}

.ds_author_img {
  float:left;
}

.ds_author_desc {
  clear:left;
  padding-top:10px;
  font-size: 14px;
  line-height: 18px;
}

#ds_article_box {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #333;
  border-top: 1px dotted #333;
  margin-top:25px;
}

.ds_box_img {
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  position:relative;
}

.ds_box_img:hover {
  background-image: url(../images/block-center-hover-bg.png);
  opacity:0.8;
}

.clear {
  clear:both;
}

.ds_artimg_desc {
  position: absolute;
  width: 180px;
  height:40px;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 5px;
  background: url(../images/block-center-title-bg.png);
  border-radius:3px;
}

.ds_artimg_text {
  position: absolute;
  width: 180px;
  bottom: 5px;
  left: 7px;
  color: #fff;
  padding: 5px;
  font-size:14px;
}

#ds_footer_tw {
  overflow:hidden;
  width:100%;
  margin-top:20px;
  padding-top: 10px;
  padding-bottom: 37px;
  border-bottom: 1px dotted #333;
  border-top: 1px dotted #333;
}

#ds_footer_tw .ds_tags {
  width:40%;
  float:left;
  margin-right:40px;
}

#ds_footer_social {
  width:50%;
  float:right;
  padding-left:20px;
}

#ds_comment_wrapper {
  overflow:hidden;
  width:100%;
  margin-top:20px;
}

#ds_comment_ncounter {
  border-bottom: 1px dotted #333;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #404040;
  font-size:17px;
}

#ds_comment_avatarbox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ds_comments_status{
  display:block;
}

#ds_comment_avatarbox img {
  float:left;
  padding-right:10px;
}

#ds_comment_maxchar {
  clear:both;
  float:right;
}

#ds_comment_textform .text_field {
  width: 99%;
}

textarea {
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  resize:none;
}

#ds_comment_textform b {
  font-size: 11px;
  color: #999;
  padding: 4px 0 0;
}

#ds_comment_textform input {
  font-size: 12px;
  padding: 5px 28px;
  background: black;
  color: white;
  border-radius: 4px;
  border: none;
  background: url(../images/btn-bg-224.png) no-repeat 0 0;
  float:right;
}

#ds_comment_textform input:hover {
  cursor: pointer;
}

.textin {
  font-size:0px;
}

.smaller {
  font-size: 13px;
}

#ds_main_block span {
  font-weight: normal;
}

#ds_main_block span.title {
  padding-bottom: 5px;
  display: block;
  width: 100%;
  font-size: 1.42em;
}

.ds_desc_text {
  position: absolute;
  width: 180px;
  bottom: 20px;
  left: 20px;
  color: #fff;
  padding: 5px;
  font-size:11px;
}
.ds_comment_desc{
  font-size: 11px;
  color: #999;
}
ul.menu li.orange a {
  color: #FF7E01;
}

.ds_login ul li a, .ds_login a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.ds_login ul li {
  background: url(../images/separator3.gif) no-repeat 0 85%;
  background-position: center right;
  padding: 5px 16px 0 14px;
  margin: 0;
  list-style: none;
  line-height: 120%;
  float: left;
}

.ds_login ul li.first {
  background: none;
  top: 0;
  padding: 0px 8px 0 0;
}

#ds_footer_top ul li.ds_footer_ico {
  padding-left: 11px;
  padding-right: 3px;
  background-image: none;
  padding-bottom: 0px;
}

#ds_footer_top ul li.ds_footer_ico img {
  padding-bottom: 5px;
}

#ds_footer_top ul li.ds_footer_ico img:hover {
  opacity: 0.65;
}

/***********************************************
Блок комментариев
************************************************/

#ds_comment_list {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  color: #404040;
}

#ds_comment_block {
  border-top: 1px dotted #333;
  margin-top: 16px;
  padding: 21 0px;
}

.ds_comment_top {

}

.ds_comment_image img {
  float: left;
  padding: 0px 15px 5px 0px;
}

.ds_comment_title {

}

.ds_comment_title a {
  color: #404040;
  text-decoration: underline;
  font-weight: 700;
}

.ds_comment_title a:hover {
  color: #404040;
  text-decoration: none;
  font-weight: 700;
}

.ds_comment_post {
  display:block;
  margin-top: 13px;
}

#ds_comment_bot {
  padding-left:46px;
  padding-top: 16px
}

#ds_comment_rateL {
  float:left;
  padding-top: 5px;
}

#ds_comment_rateL a:hover {
  color: #404040;
  text-decoration: none;
  font-weight: 700;
}

#ds_comment_rateL a {
  color: #404040;
  text-decoration: underline;
  font-weight: 700;
  font-size: 11px;
}

#ds_comment_rateR {
  float:right;
}

#ds_comment_rateR img {
  vertical-align: middle;
}

.ds_comment_like, .ds_comment_dislike {
  padding: 0 5px;
  font-size: 11px;
  font-weight: 700;
  color: #404040;
  line-height: 20px;
}

.ds_comment_ratespacer {
  padding-left:7px;
}

.ds_comment_full:hover {
  opacity: 0.75;
}

/***********************************************
Блок регистрации (Формы)
************************************************/
#block-user-login h1 {
  color: #666;
}

.form-text {
  display: block;
  width: 307px;
  border-width: 1px !important;
  font-size: 11px !important;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.35);
  border-radius: 3px 3px 3px 3px;
  font: Arial,sans-serif;
  padding: 6px 6px 4px;
  margin: 7px 0;
}

.form-text:focus {
  border-color: #333 !important;
  box-shadow: 0 0 8px rgba(82,168,236,0.5);
  outline: medium none;
}

.form-item {
  font-family: Arial,Helvetica,"Bitstream Vera Sans","FreeSans","Garuda",sans-serif;
  font-size: 12px;
  color: #333;
}

label.option {
  font-size:11px;
  color: #333;
}

#block-user-login {
  margin: 0 0 10px 0;
}

.item-list {
  margin: 10px 0 5px 0px;
}

.item-list ul li.first {
  float: left;
  padding-right: 10px;
}

.item-list a {
  color: #333;
  text-decoration: underline;
}

.item-list a:hover {
  color: #333;
  text-decoration: none;
}

.form-submit {
  font-size: 12px;
  padding: 4px 28px;
  background: black;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  background: url(../images/btn-bg-224.png) no-repeat 0 0;
  margin-top: 8px;
}

.ds_form:hover {
  opacity: 0.8;
}

fieldset {
  margin: 15px 0;
  padding: 10px;
  border: 1px dotted #CCC;
  width: 90%;
}

legend {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #535353;
  padding: 0 5px;
  font-weight: bold;
}

textarea {
  resize:vertical;
  height: 200px;
  margin: 10px 0;
  font-size:11px;
  font-family: Arial,sans-serif;
  padding:5px;
}

.form-select {
  display: block;
  width: 307px;
  border-width: 1px !important;
  font-size: 11px !important;
  border: 1px solid #555;
  border-radius: 3px 3px 3px 3px;
  font: Arial,sans-serif;
  padding: 4px 4px 4px;
  background-color: #fff;
  color: #333;
  margin: 7px 0;
}


/*devision_of_news*/

.ds_title h1 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 5px;
  font-weight: normal;
}

.ds_sub_title {
  font-size: 20px;
  line-height: 22px;
  color: #909090;
}

.ds_block_search_content {
  padding-top: 19px;
}

.ds_block_filter_search {
  width: 705px;
  font-size: 14px;
}

.ds_link {
  background: url(../images/content-menu-bg.gif) repeat-x 0 0;
  height: 32px;
  width: 100%;
  overflow: hidden;
}

.ds_link ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.ds_link ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
  float: left;
}

.ds_link ul li a {
  color: white;
  display: block;
  height: 32px;
  line-height: 32px;
  float: left;
  text-decoration: none;
  padding: 0 15px;
  background: url(../images/content-menu-bg.gif) repeat-x -9999px -9999px;
  border-right: 1px solid white;
}

.ds_link ul li a:hover {
  background-position: 0 -64px;
}

.ds_link ul li a.active {
  background-position: 0 -32px;
  cursor: default;
}

.ds_block_search_results {
  width: 705px;
  padding: 7px 0 0;
}

.ds_block_search_results .item_list {
  background: 0;
  padding: 10px 0 0;
  width: 100%;
}

.ds_block_search_results .item_list ul li {
  float: none;
  width: auto;
  background: url(../images/bg-border-dotted-black.gif) repeat-x 0 0;
  padding: 16px 0 0;
  margin: 0 0 15px;
  position: relative;
  list-style: none;
  line-height: 120%;
}

.ds_block_search_results li .block_item {
  background: url(../images/bg-border-dotted-black.gif) repeat-x 0 100%;
  padding: 0 0 16px;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  line-height: 120%;
  color: #404040;
}

.ds_block_search_results h4 {
  padding: 0 30px 0 0;
  margin: 0;
  font-size: 1.17em;
  line-height: 120%;
  font-weight: 400;
  color: #9A9A9A;
}

.ds_block_search_results h4 a {
  color: #9A9A9A;
  text-decoration: none;
}


.ds_block_search_results h5 {
  font-size: 1.42em;
  font-weight: 400;
  line-height: 100%;
  color: #404040;
  padding: 0 42px 0 0;
  margin: 0;
}

.ds_block_search_results h5 a {
  color: #404040;
  text-decoration: none;
}

.ds_block_search_results .block_img {
  float: left;
  padding: 0 15px 0 0;
  padding-bottom: 15px;
  position: relative;
  border-radius: 4px;
}

.ds_block-search-results .info, .ds_block-search-results .from {
  font-size: .92em;
}

.ds_block_search_results .ds_tags {
  font-size: .92em;
  font-style: italic;
}

.ds_block_search_results .block_item b {
  font-style: normal;
  font-weight: bold;
}

.block_events_item {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 1em;
  font-weight: 700;
  line-height: 120%;
  color: #404040;
}

.block_events_item .item_list {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  float: left;
  width: auto;
}

.block_events_item .item_list ul {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  float: left;
}

.ds_block_search_results .block_events_item .item_list ul li {
  padding: 0 0 8px;
  margin: 0;
  float: right;
  clear: right;
  background: 0;
  border: 0;
}

.block_events_item .item_list li span {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  padding-right: 28px;
}

.block_events_item .item_list li .item_comments {
  background: url(../images/ico-comments.png) no-repeat 100% 0;
}

.block_events_item .item_list li .item_favorites {
  background: url(../images/ico-favorits.png) no-repeat 100% 0;
  color: #FF6704;
}

.item_list .pager, .item_list ul.pager {
  display: inline-block;
  width: 100%;
  clear: both;
  padding: 0;
  margin: -12px 0 0;
  text-align: right;
  background: 0;
  border: 0;
}

.ds_block_search_results .item_list ul.pager li {
  padding: 0 3px 0 2px;
  margin: 0;
  background: 0;
  border: 0;
  float: right;
  font-size: 1.17em;
  font-weight: 700;
  color: #A4A4A4;
  width: auto;
}

.ds_block_search_results  .item_list .pager li a {
  padding: 0;
  margin: 0;
  background: 0;
  color: #A4A4A4;
  text-decoration: none;
}

.ds_block_search_results .item_list ul li.pager_current a {
  color: #3E3E3E;
}

.item_list .pager li img {
  margin-top: 1px;
}

/***********************************************
Dossier.Html (Досье)
************************************************/

.ds_content_header {
  padding: 21px 240px 5px 0;
}

.ds_content_header h1 {
  padding: 0;
  margin: 0;
  color: #404040;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.ds_motscles {
  padding: 10px 0 0;
  font-size: .92em;
  font-style: normal;
}

.ds_motscles a {
 font-style: italic;
}

.ds_content_header .ds_motscles {
  padding: 4px 0 0;
  color: #404040;
}

.ds_dossier_content {
  font-size: 24px;
  line-height: 28px;
  color: #404040;
  display: inline-block;
  padding-right: 20px;
}

div.right {
  float: right;
  margin-bottom: 19px;
  margin-left: 19px;
  margin-right: 19px;
}

.ds_search_results {
  padding: 7px 0 0;
}

.ds_item_list {
  display: inline-block;
  background: url(../images/bg-search-results.gif) no-repeat 0 0;
  padding: 15px 0 23px;
}

.ds_search_results .ds_item_list ul {
  padding: 0 0 15px;
  margin: 0;
  display: inline-block;
  background: url(../images/bg-search-results.gif) no-repeat 0 100%;
}

.ds_search_results .ds_item_list ul li {
  padding: 0 16px 0 9px;
  margin: 0;
  list-style: none;
  line-height: 120%;
  float: left;
  width: 214px;
}

.ds_search_results h4 {
  padding: 0 30px 0 0;
  margin: 0;
  font-size: 1.17em;
  line-height: 120%;
  font-weight: 400;
  color: #9A9A9A;
}

.ds_search_results .info, .ds_search_results .from {
  font-size: .92em;
}

.block-img img {
  border-radius: 4px;
}

.ds_search_results h5 {
  font-size: 1.42em;
  font-weight: 400;
  line-height: 100%;
  color: #404040;
  padding: 0 42px 0 0;
  margin: 0;
}

.ds_search_results h5 a {
  color: #404040;
  text-decoration: none;
}

.ds_search_results .info, .ds_search_results .from {
  font-size: .92em;
}

.ds_search_results p {
  padding: 10px 0 0;
  margin: 0;
  line-height:120%;
}

.ds_search_results .ds_item_list li .block-item {
  font-size: 1em;
  line-height: 120%;
  color: #404040;
}

.ds_motscles a {
  color: #404040;
  text-decoration: underline;
}

#ds_article_right .content {
  background: url(../images/block-center-s-bottom-bg.png) no-repeat 0 100%;
  padding: 0 0 24px;
}

#ds_article_right .content ul {
  padding: 0 9px 7px 7px;
  margin: 0;
  list-style: none;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

#ds_article_right .content li.first {
  padding: 8px 9px 10px 7px;
  position: relative;
  left: -8px;
  width: 192px;
  border: 0;
  background: #858585 url(../images/bg_first_item.gif) repeat-x 0 0;
  color: white;
  font-weight: 700;
}

#ds_article_right .content h3 {
  color: #FFFEFE;
  font-size: 12px;
  padding: 3px 6px 5px;
  margin: 0;
  border: 0 none;
  background: url(../images/block-center-s-top-bg.png) no-repeat 0 0;
}

#ds_article_right li.first a, #ds_article_right  li.first span {
  color: white;
  font-weight: 700;
}

#ds_article_right .content ul li {

  font-size: 14px;
  line-height: 15px;
  padding: 10px 0 11px;
  border-bottom: 1px dotted #333;
}

#ds_article_right li a.active {
  color: #FF6C00!important;
}

#ds_article_right li a {
  color: #999;
  text-decoration: none;
}

.ds_content_header h2.suptitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #B3B3B3;
}

#ds_article_right li.first a:hover, #ds_article_right li.first a:hover span {
  color: #E4E4E4!important;
}

#ds_article_right li a:hover, #ds_article_right li a:hover span {
  color: #333!important;
}

.ds_tags a{
font-style: italic;
}